<!DOCTYPE html>
<html>
   <head>
      <title>identities</title>
      <style>
         /* Add your CSS styles here */
      </style>
      <link rel="stylesheet" href="./styles/style.css" />
   </head>
   <body>
      <nav class="bg-gray-800">
         <div class="max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
               <div
                  class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
               >
                  <div class="flex flex-shrink-0 items-center">
                     <h1 class="text-xl text-white">Aries User Agent</h1>
                  </div>
                  <div class="sm:ml-6 sm:block">
                     <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a
                           href="/connections"
                           class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                           >Connections</a
                        >
                        <a
                           href="/identities"
                           class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
                           aria-current="page"
                           >Identities</a
                        >
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </nav>

      <div class="flex justify-center mt-10 mb-4">
         <h1 class="text-3xl font-bold">List of Identities</h1>
      </div>

      <div class="mx-4">
         <ul class="divide-y-2 divide-white">
            <% credentials.forEach(function(credential) { %>
            <li
               class="flex justify-between gap-x-6 py-5 bg-gray-200 bg-opacity-75 px-4 rounded leading-6 items-center"
            >
               <div>
                  <div class="flex">
                     <h2 class="font-bold">Identity ID:&nbsp;</h2>
                     <p><%= credential.referent %></p>
                  </div>
                  <div class="flex">
                     <h2 class="font-bold">Credential Definition ID:&nbsp;</h2>
                     <p><%= credential.cred_def_id %></p>
                  </div>
                  <div class="flex">
                     <h2 class="font-bold">Revocation Registry ID:&nbsp;</h2>
                     <p><%= credential.rev_reg_id %></p>
                  </div>
                  <div class="flex">
                     <h2 class="font-bold">Credential Revocation ID:&nbsp;</h2>
                     <p><%= credential.cred_rev_id %></p>
                  </div>
                  <div class="flex">
                     <h2 class="font-bold">Attributes:</h2>
                  </div>
                  <ul class="ml-8">
                     <% Object.keys(credential.attrs).forEach(function(key) { %>
                     <li class="flex">
                        <p class="font-semibold"><%= key %></p>
                        <p>: <%= credential.attrs[key] %></p>
                     </li>
                     <% }) %>
                  </ul>
               </div>

               <div>
                  <button
                     class="mr-2 bg-blue-500 hover:bg-blue-700 active:bg-blue-800 active:transform active:scale-95 text-white font-semibold py-2 px-4 rounded transition duration-150 ease-in-out"
                     onclick="sendCredential('<%= credential.referent %>')"
                  >
                     Send Credential
                  </button>
                  <button
                     class="bg-red-500 hover:bg-red-700 active:bg-red-800 active:transform active:scale-95 text-white font-semibold py-2 px-4 rounded transition duration-150 ease-in-out"
                     onclick="removeCredential('<%= credential.referent %>')"
                  >
                     Remove Identity
                  </button>
               </div>
            </li>
            <% }) %>
         </ul>
      </div>

      <div
         id="popup"
         onclick="closePopup()"
         style="
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #222222aa;
            width: 100vw;
            height: 100vh;
            transform: translateY(-50%) translateX(-50%);
         "
      >
         <div
            style="
               margin: auto;
               height: 500px;
               width: 400px;
               background-color: white;
               position: relative;
            "
            onclick="event.stopPropagation()"
         >
            <div class="mx-8 mt-4">
               <h2 class="font-bold">Connection List</h2>
               <button
                  onclick="closePopup()"
                  class="font-bold"
                  style="position: absolute; top: 10px; right: 10px"
               >
                  X
               </button>
               <ul class="divide-y-8 divide-white">
                  <% connections.forEach(function(connection) { %>
                  <li class="w-full">
                     <div class="flex justify-between">
                        <p class="place-items-start">
                           <%= connection.their_label %>
                        </p>
                        <button
                           class="place-items-end bg-blue-500 hover:bg-blue-700 active:bg-blue-800 active:transform active:scale-95 text-white font-semibold py-1 px-4 rounded transition duration-150 ease-in-out"
                           onclick="selectRecipient('<%= connection.connection_id %>')"
                        >
                           Select
                        </button>
                     </div>
                  </li>
                  <% }) %>
               </ul>
            </div>
         </div>
      </div>

      <script>
         let selectedRecipient = null;
         let selectedCredential = null;
         function sendCredential(referent) {
            document.getElementById("popup").style.display = "flex";

            selectedCredential = referent;
         }

         function removeCredential(referent) {
            fetch("/credential/remove", {
               method: "POST",
               headers: {
                  "Content-Type": "application/json",
               },
               body: JSON.stringify({
                  referent: referent,
               }),
            })
               .then((response) => response.json())
               .then((data) => {
                  alert("Identity removed:", data);
                  window.location.reload();
               })
               .catch((err) => {
                  alert("Failed to remove identity:", err);
               });
         }

         function selectRecipient(id) {
            selectedRecipient = id;
            document.getElementById("popup").style.display = "none";

            fetch("/credentials/send", {
               method: "POST",
               headers: {
                  "Content-Type": "application/json",
               },
               body: JSON.stringify({
                  referent: selectedCredential,
                  connection_id: selectedRecipient,
               }),
            })
               .then((response) => response.json())
               .then((data) => {
                  alert("Identity sent:", data);
               })
               .catch((err) => {
                  alert("Failed to send credential:", err);
               });
         }

         function closePopup() {
            document.getElementById("popup").style.display = "none";
         }
      </script>
   </body>
</html>
