<!DOCTYPE html>
<html>
    <head>
        <title>identities</title>
        <style>
            /* Add your CSS styles here */
        </style>
    </head>
    <body style="position: relative; min-height: 100vh; margin: 0px"></body>
        <nav>
            <ul>
                <li><a href="/connections">Connections</a></li>
                <li><a href="/identities">Identities</a></li>
            </ul>
        </nav>

        <div style="position: relative"></div>
            <div >
                <h1>Identities</h1>
                <div>
                    <h2>All Identities</h2>
                    <ul>
                        <% credentials.forEach(function(credential) { %>
                        <li>
                            <h3>Referent: <%= credential.referent %></h3>
                            <p>Schema ID: <%= credential.schema_id %></p>
                            <p>
                                Credential Definition ID: <%=
                                credential.cred_def_id %>
                            </p>
                            <p>
                                Revocation Registry ID: <%=
                                credential.rev_reg_id %>
                            </p>
                            <p>
                                Credential Revocation ID: <%=
                                credential.cred_rev_id %>
                            </p>
                            <h4>Attributes:</h4>
                            <ul>
                                <%
                                Object.keys(credential.attrs).forEach(function(key)
                                { %>
                                <li>
                                    <%= key %>: <%= credential.attrs[key] %>
                                </li>
                                <% }) %>
                            </ul>
                            <button
                                onclick="sendCredential('<%= credential.referent %>')"
                            >
                                Send Credential
                            </button>
                            <button onclick="removeCredential('<%= credential.referent %>')">Remove Identity</button>
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
        <div id="popup" style="display: none; position: absolute; top: 50%; left: 50%; background-color: #222222aa; width: 100vw; height: 100vh; transform: translateY(-50%) translateX(-50%);">
            <div style="margin: auto; height: 500px; width: 400px; background-color: white; position: relative;">
                <h2>Connection List</h2>
                <button
                    onclick="closePopup()"
                    style="position: absolute; top: 10px; right: 10px"
                >
                    X
                </button>
                <ul>
                    <% connections.forEach(function(connection) { %>
                    <li>
                        <span><%= connection.their_label %></span>
                        <button
                            onclick="selectRecipient('<%= connection.connection_id %>')"
                        >
                            Select
                        </button>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>

        <script>
            let selectedRecipient = null;
            let selectedCredential = null;
            function sendCredential(referent) {
                document.getElementById("popup").style.display = "flex";

                selectedCredential = referent;
            }

            function removeCredential(referent) {
                fetch("/credential/remove", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        referent: referent,
                    }),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        alert("Identity removed:", data);
                        window.location.reload();
                    })
                    .catch((err) => {
                        alert("Failed to remove identity:", err);
                    });
            }

            function selectRecipient(id) {
                selectedRecipient = id;
                document.getElementById("popup").style.display = "none";

                fetch("/credentials/send", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        referent: selectedCredential,
                        connection_id: selectedRecipient,
                    }),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        alert("Identity sent:", data);
                    })
                    .catch((err) => {
                        alert("Failed to send credential:", err);
                    });
            }

            function closePopup() {
                document.getElementById("popup").style.display = "none";
            }
        </script>
    </body>
</html>
